/* CSS VARIABLES */

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 300%;
}
